@media (min-width: 300px) and (max-width:550px)
/* m */

{
    /*--------common-------*/
    .section-heading-con {
        text-align: center;
    }
    .section-heading-con h1 {
        font-size: 18px;
        color: white;
        margin-top: -35px;
    }
   
    /*------slogan--------*/
    .slogan-text-con span {
        font-size: 18px;
    }
    .slogan-button-con {
        text-align: center;
    }
    /*-----welcome-secc----*/
    .welcome-body-con {
        min-height: 600px;
    }
    .welcome-body-left-sec {
        text-align: center;
        font-size: 14px;
        padding: 0;
    }
    .welcome-body-right-sec {
        position: relative;
        text-align: center;
    }
    /**/
}

@media (min-width: 401px) and (max-width:550px)
/* lm */

{
    /*----welcome-sec-----*/
    .welcome-body-con {
        min-height: 950px;
    }
    .floating-image-1 {
        top: 0;
        left: 18%;
    }
    .floating-image-2 {
        top: 150px;
        left: 40%;
    }
    .floating-image-1 img,
    .floating-image-2 img {
        height: auto;
        width: 200px;
    }
}

@media (min-width: 300px) and (max-width:400px)
/* xm */

{
    /*----welcome-sec-----*/
    /* .welcome-body-con {
        min-height: 1250px;
    } */
    .floating-image-1 {
        top: 0;
        left: 10%;
    }
    .floating-image-2 {
        top: 150px;
        left: 25%;
    }
    .floating-image-1 img,
    .floating-image-2 img {
        height: auto;
        width: 150px;
    }
}